<h1>Periodic Table of HTML Elements</h1>
<div id="container" class="">
	
	<% @tiles.each do |tile| %>
		
		<div class="element-container">
			<h3><%= tile.element %></h3>
			<p><%= tile.description %></p>
			<p><%= tile.is_html5 %></p>
		</div>
	
	<% end %>

</div>



