body {
	background: #262524;
}

h1#title {
	font-family: 'Open Sans', sans-serif;
	color:white;
	font-size:50px;
}

div#container {
	width:100%;
	height:80%;
	position:relative;
	background-color: black;
	border-radius: 10px;
	border: 2px solid #484542
}

div.element-container {
	width: 13%;
	height: 150px;
	background-color:blue;
	display:inline-block;
	padding:0 5px 5px 5px;
	margin:10px;
}

div.html5 {
	display:inline-block;
}

h3.element-name {
	display:inline-block;
	margin-top:5px;
	font-size:20px;
	font-family: 'Open Sans', sans-serif;
	font-weight:900;
	color:white;
	text-decoration: underline;
}

img.html-logo {
	width:15px;
	position:absolute;
	top:5px;
	right:5px;
}

p.element-description {
	font-size:13px;
	font-weight:900;
	font-family: 'Open Sans', sans-serif;
}

/*-------Colour Coding System-------*/

div.element-container.sections {
	background: hsl( 0, 100%, 50%);
}

div.element-container.text-level {
	background: hsl( 130, 100%, 50%);
}

div.element-container.edits {
	background: hsl( 324, 100%, 50%);
}

div.element-container.embedded {
	background: hsl( 180, 100%, 50%);
}

div.element-container.tabular {
	background: hsl( 36, 100%, 50%);
}

div.element-container.forms {
	background: hsl( 108, 100%, 50%);
}

div.element-container.interactive {
	background: hsl( 285, 100%, 60%);
}

div.element-container.grouping {
	background: hsl( 20, 100%, 55%);
}

div.element-container.scripting {
	background: hsl( 922, 100%, 50%);
}

div.element-container.metadata {
	background: hsl( 55, 100%, 60%);
}

div.element-container.root {
	background-color: #FFBF00;
}

/*-------End-------*/